@use "../../sass/variables" as *;

.todo-list {
  color: $color-primary;
}

.table {
  display: flex;
  width: 85%;
  text-align: center;
  padding-top: 126px;
  padding-left: 15%;

  p {
    width: 100%;
    justify-content: center;
    font-size: 30px;
  }
}

hr {
  align-items: center;
  margin-top: 40px;
  padding: 2px;
  background: #d9d9d9;
  margin-left: 400px;
  margin-right: 400px;
}

.options {
  display: grid;
  grid-auto-flow: column;
  padding-top: 33px;
}

.works {
  font-size: 20px;
  padding-top: 33px;
  padding-left: 85%;

  p {
    padding-bottom: 15px;
  }
}

.description {
  display: grid;
  padding-left: 28%;
  padding-top: 33px;
  font-size: 20px;

  p {
    padding-bottom: 15px;
    line-height: 2rem;
  }
}

.isCompleted {
  padding-top: 18px;
  cursor: pointer;
  padding-right: 150px;
}

input {
  display: grid;
  width: 17px;
  cursor: pointer;
  height: 3.98rem;
}
