@use "../../sass/variables" as *;

.todo-list {
  color: $color-primary;
}

.table {
  display: flex;
  width: 70%;
  text-align: center;
  padding-top: 126px;
  padding-left: 29%;

  p {
    width: 100%;
    justify-content: center;
    font-size: 30px;
  }
}

hr {
  align-items: center;
  margin-top: 40px;
  padding: 2px;
  background: #d9d9d9;
  margin-left: 625px;
  margin-right: 625px;
}

.option {
  display: flex;
  width: 100%;
  padding-left: 33%;
}

.works {
  font-size: 20px;
  padding-top: 33px;

  p {
    padding-bottom: 15px;
  }
}

.type {
  display: grid;
  padding-left: 7rem;
  padding-top: 25px;
  height: 7.4rem;
}

.function {
  display: grid;
  padding-left: 18%;
  padding-top: 39px;
  height: 8rem;
  cursor: pointer;
}

.function2 {
  display: grid;
  padding-left: 1%;
  padding-top: 39px;
  height: 10.5rem;
  cursor: pointer;
}

input {
  width: 17px;
  cursor: pointer;
}
