@use "../../sass/variables" as *;

.menu {
  background-color: $header-background;
  color: $color-primary;
  display: flex;
  padding-top: 29px;
  padding-left: 61px;
  padding-bottom: 0px;

  h1 {
    padding-top: 11px;
    color: #fff;
    text-decoration: none;
    font-size: 25px;
  }

  ul {
    list-style: none;
  }

  li {
    background: white;
    font-size: 1.5rem;
    margin-left: 39px;
    padding: 9px 40px 7px 37px;
    border-radius: 5px;
    color: $color-secundary;
  }
}

body {
  background-color: $body-background;
}

.text {
  color: $color-primary;
  padding-top: 145px;
  text-align: center;
  font-size: 35px;
}
